[submodule "SDKTest"]
	path = SDKTest
	url = git@github.com:OCer/SDKTest.git
[submodule "SDK"]
	path = SDK
	url = git@github.com:OCer/SDK.git
[submodule "SDKDemo"]
	path = SDKDemo
	url = git@github.com:OCer/SDKDemo.git
